<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões Essenciais -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <!-- Necessário para Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- Necessário para desenhar o pixel de rotação -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Necessário para acordar a tela -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationSample">

        <!-- Metadados Samsung (Cover Screen) -->
        <meta-data
            android:name="com.samsung.android.icon_on_cover_screen"
            android:value="true" />

        <!-- MainActivity: Apenas verifica permissão e chama a Engine -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TransparentActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EngineActivity: Desbloqueia a tela e morre -->
        <activity
            android:name=".EngineActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:taskAffinity="com.example.navigationsample.engine"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize|keyboardHidden"
            android:noHistory="false" />

        <!-- RotationService: Onde a mágica acontece (Overlay de Sistema) -->
        <service
            android:name=".RotationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:ignore="ForegroundServiceType" >

            <!-- OBRIGATÓRIO NO ANDROID 14+: Justificativa para specialUse -->
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="@string/fgs_rotation_reason" />
        </service>

    </application>

</manifest>
