<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationSample" >
        <receiver
            android:name=".UnlockReceiver"
            android:enabled="true"
            android:exported="true"><intent-filter>
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
        </receiver>

        <!-- Certifique-se de ter declarado o serviço também, se ainda não tiver -->
        <service
            android:name=".RotationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse|specialUse" />

        <meta-data
            android:name="com.samsung.android.icon_on_cover_screen"
            android:value="true" />

        <!-- NOVA ACTIVITY TRANSPARENTE (O SEGREDO) -->
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.NavigationSample"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EngineActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:taskAffinity="com.example.navigationsample.engine"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:screenOrientation="sensor"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize|keyboardHidden" />

    </application>

</manifest>