<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <!-- Remover specialUse -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationSample">

        <meta-data
            android:name="com.samsung.android.icon_on_cover_screen"
            android:value="true" />

        <!-- remover atributos não usados -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TransparentActivity"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EngineActivity: Desbloqueia a tela e morre -->
        <activity
            android:name=".EngineActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:taskAffinity=".engine"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize|keyboardHidden"
            android:noHistory="false" />

        <service
            android:name="com.crispim.coverspin.RotationService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            tools:ignore="ForegroundServiceType" >

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="@string/fgs_rotation_reason" />
        </service>

        <!-- Adicionar bootreceiver -->

    </application>

</manifest>
